{% extends 'base.html.twig' %}

{% block title %}Профиль пользователя{% endblock %}
{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div class="div-inline"><h1 class="mt-5 div-inline">Профиль</h1></div>
    {% if image %}
        <img src="{{ asset('images/user/'~image )}}"/>
        <div><a href="{{ path('remove_user_picure') }}">Удалить автар</a></div>
    {% endif %}
    {{ form_start(form) }}

    {{ form_end(form) }}

    {% if favoriteBooks %}
        <div class="div-inline"><h1 class="mt-5 div-inline">Избранное</h1></div>

        <table class="table">
            <thead>
            <tr>
                <th>Рейтинг</th>
                <th>Название</th>
                <th>Автор</th>
                <th>Жанр</th>
                <th>Добавлено</th>
                <th>Издано</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for book in favoriteBooks %}
                <tr>
                    <th scope="row">+{{ book.raiting }}-</th>
                    <td><a href="{{ path('show_book', {'id':  book.id }) }}">{{ book.title }}</a></td>
                    <td><a href="{{ path('filter_books_by_author', {'filterId':  book.author_id }) }}">{{ book.author_name }}</a></td>
                    <td><a href="{{ path('filter_books_by_genre', {'filterId':  book.genre_id }) }}">{{ book.genre }}</a></td>
                    <td>{{ book.added_on|date("d.m.Y") }}</td>
                    <td>{{ book.published_on|date("d.m.Y") }}</td>
                    <td><a href="{{ path('remove_from_favorites', {'id':  book.id }) }}"><button type="button" class="btn btn-secondary btn-sm">Убрать из избранного</button></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}